@model SubjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbsentTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbsentTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UseComeAbsent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UseComeAbsent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lecturer.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lecturer.FullName)
        </dd>
    </dl>
    <h4>วันที่เรียน</h4>
    <table id="timeTable" class="table">
        <tr>
            <th>วันที่เรียน</th>
            <th>เวลาเริ่ม</th>
            <th>เวลาเลิก</th>
            <th></th>
        </tr>
        @foreach (var subjectTime in Model.SubjectTimes)
        {
            <tr id="@subjectTime.DayOfWeek">
                <td>@Html.DisplayFor(model => subjectTime.DayOfWeek)</td>
                <td>@subjectTime.Start.ToString("t")</td>
                <td>@subjectTime.End.ToString("t")</td>
                <td><a href="#" onclick="deleteSubjectTime('@subjectTime.SubjectId', @subjectTime.Section, '@subjectTime.DayOfWeek')">ลบ</a></td>
            </tr>
        }
    </table>
    <p>@Html.ActionLink("เพิ่มเวลาเรียน", "AddSubjectTime", new { Id = Model.Id, Section = Model.Section })</p>
    <hr />
    <h4>นักศึกษาที่เรียน</h4>
    <table class="table">
        <tr>
            <th>#</th>
            <th>รหัสนักศึกษา</th>
            <th>ชื่อ-นามสกุล</th>
        </tr>
        @for (var i = 0; i < Model.Students.Count; i++)
        {
            <tr>
                <td></td>
                <td>@Model.Students[i].Id</td>
                <td>@Model.Students[i].FullName</td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, section = Model.Section }) |
    <a asp-action="SubjectList">Back to List</a>
</div>
@section scripts
{
<script>
    function deleteSubjectTime(id, section, dayOfWeek) {
        $.post('http://localhost:40437/subject/DeleteSubjectTime', { id: id, section: section, dayOfWeek: dayOfWeek }, onDeleteSuccess)
    }

    function onDeleteSuccess(data) {
        var selector = '#' + data.dayOfWeek
        $(selector).remove()
        console.log("delete success")
    }
</script>
}
